body
{
    color: aqua;
    text-align: center;
    font-family: "Arial";
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}